<figure class="hero" style="background: url({{ page.hero_url | relative_url }}) top 20% center no-repeat; background-size: cover;">
  <div class="overlay"></div>

  <div class="container-wide hero-contents">
    <h2 class="hero-subtitle">{{ page.hero_subtitle }}</h2>
    <h3 class="hero-title">{{ page.hero_title }}</h3>

    <div class="container hero-blurb">
      <p class="blurb-1">{{ page.hero_blurb }}</p>
    </div>

    <div class="container" style="text-align: center;">
      {% include register-button.html %}
    </div>
  </div>

  <span class="scroll-down">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentcolor" d="M7.41 8.58 12 13.17l4.59-4.59L18 10l-6 6-6-6L7.41 8.58z"></path>
    </svg>
  </span>
</figure>
