*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  height: calc(100% - 74px); // the exact height of the header
}

body {
  margin: 0;
}

@media (max-width: 450px) {
  main {
    height: auto;
  }
}
