@import "vars";

html {
  font-size: $font-base;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.blurb-1 {
  font-family: $poppins;
  font-size: 1rem;
  line-height: 3.1875rem;
}

.blurb-2 {
  font-family: $poppins;
  font-size: 0.875rem;
  line-height: 1.875rem;
  margin: 0 0 1.125rem;
}
