// Font vars

$font-base: 16px; // 1 rem

$poppins: "Poppins", sans-serif;
$roboto-slab: "Roboto Slab", serif;
$tangerine: "Tangerine", cursive;

// Color vars

$black: #000;
$gray: #333;
$white: #f9f9f9;
$white-67: rgba(249, 249, 249, 0.67);
$white-38: rgba(249, 249, 249, 0.38);
$cream: #fff8de;
$green1: #4caf50;
$green2: #41c300;
