---
---

// Foundation
@import "reset";
@import "typography";

// Components
@import "components/header";
@import "components/register-button";
@import "components/hero";

.container-wide {
  width: 1105px;
}

.container {
  width: 687px;
}

.container-wide,
.container {
  margin: 0 auto;
}
