---
---

// Foundation
@import "vars";
@import "reset";
@import "typography";

// Components
@import "components/header";
@import "components/register-button";
@import "components/hero";
@import "components/speaker-card";

.container-wide {
  width: 1200px;
}

.container {
  width: 768px;
}

.container-wide,
.container {
  margin: 0 auto;
}

#about-text {
  font-family: $poppins;
  font-size: 1rem;
  line-height: 3.1875rem;
  margin: 60px 0 28px;
}

.bible-verse {
  font-family: $tangerine;
  font-size: 2rem;
  line-height: 2.1875rem;
  text-align: center;
}

.big-header {
  font-family: $roboto-slab;
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 3px;
    background: $gray;
  }
}
