@import "vars";

header {
  background-color: $gray;
  padding: 18px 24px;

  div {
    display: inline-block;
  }

  .logo {
    color: $cream;
    font-family: $tangerine;
    font-size: 2.25rem;
    font-weight: lighter;

    margin: 0;
    padding-right: 9px;
    display: inline-block;
  }

  .logo-small {
    color: $white-38;
    font-family: $poppins;
    font-size: 0.75rem;
  }

  nav a {
    color: $white;
    font-family: $poppins;

    text-decoration: none;
    text-transform: uppercase;
  }
}
