<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Load fonts from Google -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="{{ site.fonts_url }}">

  <!-- Local styles -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <title>{{ site.title }}</title>

  <!-- https://stackoverflow.com/a/42969608 -->
  <!-- https://crbug.com/332189, https://crbug.com/167083 -->
  <script></script>
</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
